*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
h1.level{
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
}
h1.Completed {
    text-align: center;
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    margin: -2px 0 100px;
}